@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.verified-icon{
  width: 1.4em;
  display: inline;
  vertical-align: middle;
  margin-top: -.25em;
}

.search-promotion {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loader {
  border-top-color: #37003c;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}