@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-icon {
  height: 1.5rem;
}

@media (min-width: 640px) {
  .searchtable {
    display: inline-table !important;
  }

  .searchtable thead tr:not(:first-child) {
    display: none;
  }
}

.searchtable td:not(:last-child) {
  border-bottom: 0;
}

.searchtable th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.verified-icon{
  width: 1.4em;
  display: inline;
  /* vertical-align: middle; */
  margin-top: -.25em;
}

.search-promotion {
  min-height: 50vh;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-input {
  margin-right: 1rem;
}

.alias {
  font-size: 0.75rem;
  vertical-align: baseline;
  opacity: .75;
}

@media screen and (max-width: 31.125rem) {
  .search-input {
    margin-right: 0;
    width: 100%;
    max-width: 22rem;
  }
}

.loader {
  border-top-color: #37003c;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.movement {
  height: .75rem;
  width: .75rem;
  display: inline-block;
  vertical-align: baseline;
  margin-left: .25rem;
}

.movement--up {
  fill: rgb(0, 217, 0);
}

.movement--down {
  fill: rgb(255, 0, 90);
}

.movement--none {
  fill: rgb(148, 150, 140);
  height: .625rem;
  width: .625rem;
}

.entry-image {
  display: inline-block;
  max-width: 10rem;
}

.progressbar {
  background:#f1f1f1;
  border-radius: .25em;
  width: 100%;
  display: block;
  position: relative;
  border: .0625em solid;
}

.progressbar__share {
  background: #d1d1d1;
  border-radius: .25em;
}

.progressbar__label {
  padding: 0.1875em .4em;
  font-size: .875rem;
  position: relative;
  top: -.1em;
}

.breadcrumbs {
  text-align: left;
  display: flex;
}

.breadcrumbs__item {
  margin-right: 1.25rem;
  position: relative;
}

.breadcrumbs__item::after {
  content: '>';
  position: absolute;
  top: -.1rem;
  right: -1rem;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.verified-table {
  max-width: 100rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.verified-table__inner {
  min-width: 78rem;
}

.verified-table__pos{
  width: 5rem;
}

.verified-table__player {
  width: 20rem;
}

.verified-table__player_inner {
  display: flex;
  align-items: center;
}

.verified-table__player_inner_shirt {
  flex-shrink: 0;
}

.shirt {
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.8rem;
}

.verified-table__gwpts {
  width: 4.25rem;
}

.verified-table__chip {
  width: 5rem;
}

.verified-table__total {
  width: 6rem;
}

.verified-table__or {
  width: 6rem;
}

.verified-table__open {
  width: 4rem;
}

.verified-table__selfown {
  min-width: 10rem;
}

@media screen and (max-width: 94rem) {
  .verified-table__selfown {
    width: 12rem;
  }

  .verified-table__player {
    width: 12rem;
  }

  .verified-table__cap {
    width: 10rem;
  }
}

.league-transfers {
  max-width: 500px;
}

.disabled-stuff {
  position: relative;
}

.disabled-stuff__content {
  pointer-events: none;
  opacity: .5;
}

.disabled-stuff__message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20rem;
  text-align: center;
  background: white;
  font-size: 1.3rem;
  padding: 1rem;
  border: 2px solid #37003c;
  transform: rotate(-6deg);
  border-radius: 5px;
  margin-left: -10rem;
  color: #37003c;
  margin-top: -5rem;
  box-shadow: -2px 9px 15px -6px;
}

.checkbox {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 1.5rem;
  margin-right: 1rem;
  cursor: default;
  -webkit-appearance: none
}

.checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.checkbox-indicator {
  position: relative;
  display: block;
  min-width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #6e6e6e;
  border-radius: 3px;
}

.checkbox-input:focus+.checkbox-indicator {
  border-color: #000
}

.checkbox-input:active+.checkbox-indicator{
  background: #ededed
}

.checkbox {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.checkbox-indicator {
  width: unset
}

.checkbox-description {
  width: calc(100% - 2rem);
  text-align: left
}

.checkbox-input:checked+.checkbox-indicator {
  border-color: rgba(55, 0, 60);
  background: rgba(55, 0, 60) url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20%3E%3Cpolyline%20stroke-width%3D%223%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20points%3D%223%2C12.5%209%2C19%2021%2C6%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E")
}